@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

@font-face {
    font-family: "Eye";
    src: url(../public/fonts/Eye\ Quirky\ Demo.ttf) format("truetype");
}

:root {
    --widthPadding: calc(100% - 200px);
    --darkBlue: #161627;
}


* {
    margin: 0;
    padding: 0;
    font-family: "DM Sans", sans-serif;
    color: var(--darkBlue);
}

p {
    font-size: 24px;
    color: var(--darkBlue);
    line-height: 30px;
    letter-spacing: 1px;
}

h2 {
    font-size: 68px;
    padding-top: 30px;
}

h3 {
    font-size: 36px;
}

h4 {
    font-size: 32px;
}

h5 {
  font-family: 'Eye';
  font-size: 100px;
  letter-spacing: -1px;
  font-weight: 100;
}



body {
    background-color: var(--darkBlue);
    overflow-x: hidden;
}

header {
    position: fixed;
    width: calc(100% - 200px);
    height: 100px;
    display: flex;
    align-items: center;
    padding: 0 100px;
    color: #fff;
    justify-content: space-between;
    gap: 4vw;
    z-index: 1;
    mix-blend-mode: difference;
}

.header-inverted {
    color: #000; 
  }

header .logo {
    display: block;
    width: 24px;
    height: 24px;
}

header .logoAB {
    font-family: "Eye";
    font-size: 50px;
    color: white;
}

header ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 4vw;
}

header ul li a {
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}

section {
    width: 100%;
    flex-direction: column;
    padding: 60px 90px;
    position: relative;
}

button {
    cursor: pointer;
}