* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: #060606;
}

@font-face {
  font-family: 'Vogue';
  src: url("../public/fonts/vogue/Vogue.ttf");
}

@font-face {
  font-family: 'Aspira';
  src: url("../public/fonts/aspira/Aspira\ Regular.otf");
}

@font-face {
  font-family: 'AspiraL';
  src: url("../public/fonts/aspira/Aspira\ Light.otf");
}

@font-face {
  font-family: 'AspiraB';
  src: url("../public/fonts/aspira/Aspira\ Bold.otf");
}


@font-face {
  font-family: 'AspiraBl';
  src: url("../public/fonts/aspira/Aspira\ Black.otf");
}

@font-face {
  font-family: 'AspiraI';
  src: url("../public/fonts/aspira/Aspira\ Light\ Italic.otf");
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}