
:root {
  --widthPadding: calc(100% - 200px);
  --darkBlue: #161627;
  --secondCOlor: #C9ADA7;
}

section#home {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
}

section h1 {
  color: #fff;
  font-size: 17vw;
  font-family: 'Eye';
  font-weight: 10;
  text-transform: uppercase;
  letter-spacing: -0.4vw;
}

section#about {
  background-color: #F8F4F1;
}

section#work {
  background-color: #F8F4F1;
}

section#contact {
  background-color: #F8F4F1;
}

.transitionBar {
  width: var(--widthPadding);
  height: 2px;
  background-color: var(--darkBlue);
  display: block;
  margin: 60px 0 0 0;
}

.transitionBar.medium {
  width: 35%;
}

.stickyContainer {
  position: sticky;
  top: 100px;
}

.colContainer {
  display: flex;
  width: var(--widthPadding);
  gap: 120px;
  padding: 60px 0 60px 0;
}

p.bigTxt {
  min-width: 40%;
  font-size: 32px;
  font-weight: 500;
  line-height: 38px;
}

.skillBar {
  width: var(--widthPadding);
  height: 1px;
  opacity: 0.3;
  background-color: var(--darkBlue);
  display: block;
  margin: 15px 0;
}

.skillTxt {
  font-size: 22px;
  font-weight: 200;
}

.interestsContainer {
  width: var(--widthPadding);
  display: flex;
  justify-content: end;
}

.gridInterests {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 10px;
  width: min-content;
}

.gridItem {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  align-content: center;
  text-align: center;
  height: 10vw;
  width: 10vw;
}

.grid1 {
  background-image: url('https://images.unsplash.com/photo-1515523110800-9415d13b84a8?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
}

.grid2 {
  background-image: url('https://i.pinimg.com/736x/6b/38/b9/6b38b91403b5a77a1262186bec23c51c.jpg');
}

.grid3 {
  background-image: url('https://plus.unsplash.com/premium_photo-1679830513869-cd3648acb1db?q=80&w=2127&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
}

.grid4 {
  background-image: url('https://i.pinimg.com/236x/9e/69/28/9e6928211bb9e6117a87f9d05b83d44a.jpg');
}

.grid5 {
  background-image: url('');
}

.super {
  width: var(--widthPadding);
  display: flex;
  justify-content: end;
}

.experienceContainerCol {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
}

.experienceContainer {
  width: var(--widthPadding);
  display: flex;
  flex-direction: column;
}

.chiant {
  font-size: 24px;
  color: #F8F4F1;
  line-height: 30px;
  letter-spacing: 1px;
  font-weight: bold;
}

.ExpBar {
  width: var(--widthPadding);
  height: 1px;
  opacity: 0.3;
  background-color: var(--darkBlue);
  display: block;
  margin: 10px 0;
}


.ExpButton {
  width: 50%;
  height: 4vh;

  border-radius: 64px;

  color: #F8F4F1;
  background-color: var(--darkBlue);

  transition: transform 0.3s ease-in-out;
  overflow: hidden;
  z-index: 1;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.ExpButton:hover {
  transform: scale(1.1);
  background-color: #4A4E69;
  color: #F8F4F1;
}

.contactContainer {
  width: var(--widthPadding);
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 120px;
  margin: 30px 0;
}

.ct {
  font-weight: 200;
}

.create {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mailBtn {
  width: 25%;
  font-size: 18px;
  height: 4vh;
  background-color: var(--darkBlue);
  border-radius: 64px;
  color: #F8F4F1;
  transition: transform 0.3s ease-in-out;
  overflow: hidden;
  z-index: 1;
}

.mailBtn:hover {
  transform: scale(1.1);
  color: #F8F4F1;
  background-color: #4A4E69;
}

.redirectBlender {
  width: 20vw;
  font-size: 18px;
  height: 20vw;
  background-color: var(--darkBlue);
  border-radius: 64px;
  color: #F8F4F1;
  transition: transform 0.3s ease-in;
  overflow: hidden;
  z-index: 1;
  margin: 20px 0;

  background-image: url('https://zupimages.net/up/25/15/9zz5.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.redirectBlender:hover {
  transform: scale(1.1);
  border: var(--darkBlue) solid 5px;
}

.redirectwbd{
  width: 20vw;
  font-size: 18px;
  height: 20vw;
  background-color: var(--darkBlue);
  border-radius: 64px;
  color: #F8F4F1;
  transition: transform 0.3s ease-in-out;
  overflow: hidden;
  z-index: 1;
  margin: 20px 0;
}

.redirectwbd:hover {
  transform: scale(1.1);
  border: var(--darkBlue) solid 5px;
}

.workContainer {
  width: var(--widthPadding);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 120px;
}

.work {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.workBar {
  width: var(--widthPadding);
  height: 1px;
  opacity: 0.3;
  background-color: var(--darkBlue);
  display: block;
  margin: 15px 0;
}