:root {
  --widthPadding: calc(100% - 200px);
  --darkBlue: #161627;
  --secondCOlor: #C9ADA7;
}

::-webkit-scrollbar {
  background-color: transparent;
  height: 0px;
  width: 0px;
}

::-webkit-scrollbar-thumb {
  background-color: #777777;
  border-radius: 8px;
}

section#home {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
}

section#projects {
  background-color: white;
}

.transitionBar {
  width: var(--widthPadding);
  height: 2px;
  background-color: var(--darkBlue);
  display: block;
  margin: 30px 0;
}

.listContainer {
  width: var(--widthPadding);
  display: flex;
  justify-content: center;
  margin: 60px 0;
}

.gridProjects {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 10px;
  width: min-content;
}

.gridStatut {
  border: black 1px solid;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  align-items: center;
  text-align: center;

  height: 20vw;
  width: 20vw;
}

.gridG1 {
  background-image: url('https://zupimages.net/up/25/15/9zz5.png');
  transition: transform 0.3s ease;
}

.gridG1:hover {
  transform: scale(1.03);
  border: 2px solid var(--darkBlue);
}