:root {
  --widthPadding: calc(100% - 200px);
  --darkBlue: #161627;
  --secondCOlor: #c9ada7;
}

::-webkit-scrollbar {
  background-color: transparent;
  height: 0px;
  width: 0px;
}

::-webkit-scrollbar-thumb {
  background-color: #777777;
  border-radius: 8px;
}

section#home {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
}

section#overview {
  background-color: white;
}

section#process {
  background-color: white;
}

section#outcome {
  background-color: white;
}

section#next {
  background-color: white;
}

.nav {
  display: none;
}

.imageContainer,
.videoContainer {
  width: var(--widthPadding);
  display: flex;
  justify-content: start;
  gap: 30px;
}

.gridImage {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  width: min-content;
}

.gridImageItem {
  border: solid 1px black;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  align-content: center;
  text-align: center;
  height: 29vw;
  width: 29vw;
}

.overviewText {
  width: var(--widthPadding);
  display: flex;
  flex-direction: column;
  gap: 60px;
  justify-content: start;
  padding: 30px 0;
}

.gridimg1 {
  background-image: url("https://zupimages.net/up/25/15/9zz5.png");
}

.gridimg2 {
  background-image: url("https://zupimages.net/up/25/16/0cy3.png");
}

.gridimg3 {
  background-image: url("https://zupimages.net/up/25/16/n58q.png");
}

.gridimg4 {
  background-image: url("https://zupimages.net/up/25/16/94pb.png");
}

.videoPlaying {
  width: 50vw;
  height: 75vh;
  display: flex;
  justify-content: center;
  padding: 30px 0;
}

.buttonContainer {
  display: flex;
  justify-content: center;
}

.arrow {
  padding: 4px 0;
}

.nextButton {
  gap: 30px;
  width: 20%;
  height: fit-content;
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 15px 0;
  border-radius: 16px;
  color: #f8f4f1;
}

@media (max-width: 781px) {
  .videoContainer, .imageContainer {
    width: calc(100% - 60px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 0;
    gap: 15px;
  }

  .videoPlaying {
    width: 80vw;
    display: flex;
    justify-content: center;
    padding: 0 0;
  }

  .overviewText {
    width: calc(100% - 10px);
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 0 0;
  }

  .gridImage {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
    width: min-content;
  }

  .gridImageItem {
    height: 50vh;
    width: 85vw;
  }

  .buttonContainer {
    display: flex;
    justify-content: start;
    padding: 0 0;
  }
  
  .nextButton {
    gap: 15px;
    width: 80%;
    padding: 0 0;
    
  }
}
